.inputBox {
  margin: 0;
  height: 32px !important;
  border: 1px solid #000;
  border-radius: 4px;
}
.label {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 16.8px;
  margin: 16px 0px 4px !important;
  color: rgba(0, 0, 0, 0.75);
}

.errorMessage {
  margin-top: 0px !important;
  font-weight: 500 !important;
}
